* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6
}

h1 {
  font-family: 'Nerko One', cursive;
  color: #fff;
  text-align: center;
  font-size: 70px;
}

.container {
  margin: auto;
  height: 600px;
  width: 700px;
}

/* Carte */
.card {
  display: inline-block;
  height: 160px;
  width: 140px;
  margin: 10px 10px 10px 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
  background-color: #fff;
}

.card_uncover {
  display: inline-block;
  height: 160px;
  width: 140px;
  margin: 10px 10px 10px 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
  background-color: #fff;
}

.card.cover {
  visibility: visible;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.air-balloon_uncover {
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.air-balloon {
  visibility: hidden;
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.bicycle {
  visibility: hidden;
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_Bicycle_3134821.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.cruise-ship {
  visibility: hidden;
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.submarine {
  visibility: hidden;
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_Submarine_3134738.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.tractor {
  visibility: hidden;
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_Tractor_3134797.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.tram {
  visibility: hidden;
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_Tram_3134750.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.card-text_uncover {
  position: absolute;
  left: 17px;
  top: 125px;
  font-family: 'Nerko One', cursive;
  color: #ff007f;
}

.card-text {
  visibility: hidden;
  position: absolute;
  left: 20px;
  top: 125px;
  font-family: 'Nerko One', cursive;
  color: #ff007f;
}

/* Effetto hover */
.card.cover:hover {
  background-image: none;
}

.card:hover div {
  visibility: visible;
}

h1, h2 {
  text-shadow: 1px 1px #ccc;
}

footer {
  text-align: center;
  font-family: 'Nerko One', cursive;
}
