* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6
}

h1 {
  font-family: 'Nerko One', cursive;
  color: #fff;
  text-align: center;
  font-size: 70px;
}

.container {
  margin: auto;
  height: 600px;
  width: 700px;
}

/* Carte */
.card {
  display: inline-block;
  height: 160px;
  width: 140px;
  margin: 10px 10px 10px 20px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
}

.card.cover {
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.air-balloon {
  height: 110px;
  width: 110px;
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 20px;
}

.card-text {
  position: absolute;
  left: 17px;
  top: 125px;
  font-family: 'Nerko One', cursive;
  color: #ff007f;
}

h1, h2 {
  text-shadow: 1px 1px #ccc;
}

footer {
  text-align: center;
  font-family: 'Nerko One', cursive;
}
